.shope-banner{
    background-image: url(../img/banner-02.jpg);
    background-position: center;
    height: 30vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.shope-banner-bg-color{
    background: #534f4f96;
    height: 100%;
    width: 100%;
}
.mt-class{
    margin-top: 15%;
}

/* ----------------------------heading-of-shop--------------------- */
.heading-of-shop{

}
.menu-div-for-sphoe{
    display: flex;
}